/*.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #d9edf7;
}
.table-hover  tbody tr:hover td, .table-hover tbody tr:hover th {
    color: white;
    background-color: #1d9ce5;
}
·fondo{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
}

#porcentaje,#divcosto{
    display:none;
}

.navbar-form .form-control {
    
display: inline-block;
width: 100px;
vertical-align: middle;
}*/

/*****************fuente******************************/
/*.navbar-brand{
    margin-top: -8px;
    font:  25px cabecera, verdana, sans-serif;
    text-shadow: 2px 2px 3px rgba(40, 35, 36, 1);
}

@font-face
{
    font-family: cabecera;
    src: url(../css/font/planetstyle.TTF) format('truetype');
}*/
/*COLOR EN LA CABECERA DE LOS MODALES*/
.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    /*-webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;*/
}
.modal-header-warning {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    /*-webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;*/
}
.modal-header-danger {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    /*-webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;*/
}
.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    /*-webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;*/
}
.modal-header-primary {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    /*-webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;*/
}
/********************************************/
.nav-tabs>li>a{/*COLOR DE LAS PESTAÑAS INACTIVAS*/
  background-color:#CCC;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {/*COLOR DE LAS PESTAÑAS ACTIVAS*/
    color: #03b622;   
    background-color: #EEE;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.not-active {/*desacriva tab <a>*/
   pointer-events: none;
   cursor: default;
}

.texto{
    font-size: 14px;
}
.modal-backdrop{
    z-index: 0px;
}
input[type=number] {-moz-appearance: textfield;}

.navbar{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.jumbotron{
    color: black;    
    text-shadow: 1px 1px 5px white ;
    margin-top: -400px;
    background-color: #EEEEEE;
}
.jumbotron p{
    font-size: 25px;
    font-weight: 500;
    }

.jumbotron{
      @media (max-width: @screen-md-min) {
        height: 287px; //Or any value you want
      }
}
/*.navbar-header{
    font-weight: bold;
}*/
/*#logodtt{
    -webkit-box-shadow: inset -113px 0px 77px -135px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -113px 0px 77px -135px rgba(0,0,0,0.75);
    box-shadow: inset -113px 0px 77px -135px rgba(0,0,0,0.75);
}*/
/*#divcc{
    box-shadow: inset 0px 0px 41px 5px white;
-webkit-box-shadow: inset 0px 0px 41px 5px white;
-moz-box-shadow: inset 0px 0px 41px 5px white;
-o-box-shadow: inset 0px 0px 41px 5px white;
}*/
/*#imgfondo{
    z-index: -2;
    -webkit-filter: blur(1px) opacity(.9);
    filter: blur(1px)  opacity(.9);
}*/
/*.fondo_cc{
    background-image: url("img/cc.jpg"); 
    background-size:100% auto;
}*/


/**************CSS para el autocomplete*/

/********************************/

}

