/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer{
    height: 23px;
}
.footer {
  margin-bottom: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 23px;
  
  background-color: #333;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 980px;
  padding: 0 15px;
}
.container .text-muted {
    color: white;
  margin: 20px 0;
}
